# Postgres
DB_LOCAL=[THE NAME OF YOUR DATABASE]
DB_LOCAL_USER=['postgres' BY DEFAULT]
DB_LOCAL_PASSWORD=[YOUR DATABASE PASSWORD]

# Messenger API - All info from the Facebook Developer site unless otherwise stated
# https://developers.facebook.com
# https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing#deploy
PAGE_ID=
APP_ID=
APP_SECRET=
PAGE_ACCESS_TOKEN=
VERIFY_TOKEN=[TOKEN YOU DEFINE -- KEEP IT SECRET, KEEP IT SAFE!]